# 環境変数
.env
.venv
env/
ENV/
env.bak/
venv.bak/

# 仮想環境の別名
virtualenv/
envs/

# pyenv
.python-version

# 一時ファイル
*.swp
*.swo
*~

# Node.js（フロントエンドがある場合）
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# その他の大きなバイナリファイル
*.bin
*.dic
*.dat
*.model
*.pkl
*.h5
*.hdf5
*.parquet
*.sqlite

resume/
